<!DOCTYPE html>
<html ng-app="myapp">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link rel="stylesheet" href="style.css" />
  <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.7/angular.js" data-semver="1.2.7"></script>
  <script src="app3.js"></script>
</head>

<body ng-controller="MainCtrl">

  <form ng-submit="submit()">
    <input ng-model="query">
    <button type="submit" id="submit" value="Submit">Search</button>
  </form>


  <div ng-repeat="x in friends | filter:q">
<!--    {{x.name}}-->
  </div>
    {{q}}
</body>

</html>